## Auth
- #### Login  
  ![Login](1.png)

## Users
- #### Create  
  ![Create](Screenshot_from_2025-01-08_19-49-05.png)
- #### Read  
  ![Read](Screenshot_from_2025-01-08_19-49-41.png)
- #### Update  
  ![Update](Screenshot_from_2025-01-08_19-50-15.png)
- #### Delete  
  ![Delete](Screenshot_from_2025-01-08_19-49-24.png)

## Schools
- #### Create  
  ![Create](Screenshot_from_2025-01-08_19-42-12.png)
- #### Read  
  ![Read](Screenshot_from_2025-01-08_19-42-58.png)
- #### Update  
  ![Update](Screenshot_from_2025-01-08_19-43-17.png)
- #### Delete  
  ![Delete](Screenshot_from_2025-01-08_19-42-34.png)

## Classrooms
- #### Create  
  ![Create](Screenshot_from_2025-01-08_20-20-17.png)
- #### Read  
  ![Read](2.png)
- #### Update  
  ![Update](Screenshot_from_2025-01-08_19-41-34.png)
- #### Delete  
  ![Delete](Screenshot_from_2025-01-08_19-40-32.png)

## Students
- #### Create  
  ![Create](Screenshot_from_2025-01-08_19-43-49.png)
- #### Read  
  ![Read](Screenshot_from_2025-01-08_19-47-53.png)
- #### Update  
  ![Update](Screenshot_from_2025-01-08_19-48-13.png)
- #### Delete  
  ![Delete](Screenshot_from_2025-01-08_19-44-08.png)
