## Auth
- #### Login![[Screenshot from 2025-01-08 19-39-04.png]]
## Users
- #### Create![[Screenshot from 2025-01-08 19-49-05.png]]
- #### Read![[Screenshot from 2025-01-08 19-49-41.png]]
- #### Update![[Screenshot from 2025-01-08 19-50-15.png]]
- #### Delete![[Screenshot from 2025-01-08 19-49-24.png]]
## Schools
- #### Create![[Screenshot from 2025-01-08 19-42-12.png]]
- #### Read![[Screenshot from 2025-01-08 19-42-58.png]]
- #### Update![[Screenshot from 2025-01-08 19-43-17.png]]
- #### Delete![[Screenshot from 2025-01-08 19-42-34.png]]
## Classrooms
- #### Create![[Screenshot from 2025-01-08 19-39-57.png]]
- #### Read![[Screenshot from 2025-01-08 19-41-06.png]]
- #### Update![[Screenshot from 2025-01-08 19-41-34.png]]
- #### Delete![[Screenshot from 2025-01-08 19-40-32.png]]
## Students
- #### Create![[Screenshot from 2025-01-08 19-43-49.png]]
- #### Read![[Screenshot from 2025-01-08 19-47-53.png]]
- #### Update![[Screenshot from 2025-01-08 19-48-13.png]]
- #### Delete![[Screenshot from 2025-01-08 19-44-08.png]]