## Auth
- #### Login  
  ![Login](1.png)

## Users
- #### Create  
  ![Create](Screenshot from 2025-01-08 19-49-05.png)
- #### Read  
  ![Read](Screenshot from 2025-01-08 19-49-41.png)
- #### Update  
  ![Update](Screenshot from 2025-01-08 19-50-15.png)
- #### Delete  
  ![Delete](Screenshot from 2025-01-08 19-49-24.png)

## Schools
- #### Create  
  ![Create](Screenshot from 2025-01-08 19-42-12.png)
- #### Read  
  ![Read](Screenshot from 2025-01-08 19-42-58.png)
- #### Update  
  ![Update](Screenshot from 2025-01-08 19-43-17.png)
- #### Delete  
  ![Delete](Screenshot from 2025-01-08 19-42-34.png)

## Classrooms
- #### Create  
  ![Create](Screenshot from 2025-01-08 19-39-57.png)
- #### Read  
  ![Read](Screenshot from 2025-01-08 19-41-06.png)
- #### Update  
  ![Update](Screenshot from 2025-01-08 19-41-34.png)
- #### Delete  
  ![Delete](Screenshot from 2025-01-08 19-40-32.png)

## Students
- #### Create  
  ![Create](Screenshot from 2025-01-08 19-43-49.png)
- #### Read  
  ![Read](Screenshot from 2025-01-08 19-47-53.png)
- #### Update  
  ![Update](Screenshot from 2025-01-08 19-48-13.png)
- #### Delete  
  ![Delete](Screenshot from 2025-01-08 19-44-08.png)
